body{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 500;
}

body a {
    text-decoration: none;
    color: orange;
}

body a:hover {
    text-decoration: none;
    color: rgb(255, 193, 78);
}

.fa {
    text-decoration: none;
    color: orange;
}

.fa:hover {
    text-decoration: none;
    color: rgb(255, 193, 78);
}

.topbar {
    font-size: 18px;
    font-weight: 400;
}

.jumbotron {
    margin-bottom: 0px;
    background-color: white;
}

.container {
    width: auto;
    padding: 0 15px;
}

.navbar-toggler {
    border: 0px solid transparent !important;
}

.hidden{
    display: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}